@-webkit-keyframes flash {
  0%,
  100%,
  50% {
    opacity: 1
  }
  25%,
  75% {
    opacity: 0
  }
}

@keyframes flash {
  0%,
  100%,
  50% {
    opacity: 1
  }
  25%,
  75% {
    opacity: 0
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}
